.aione-section{
}
.aione-section.fullwidth{
}
.aione-section .wrapper{
  border: 2px dashed #78909c;
}


.ar{
  border: 3px dashed #ff9800;
}

.ac .wrapper{
  border: 5px dashed #26a69a;
}

.ar {
  display: block;
  padding: 0;
  margin: 0
}
.ar:after {
  content: "";
  display: table;
  clear: both
}
.ar .ac {
  float: left;
  display: block;
  box-sizing: border-box;
  min-height: 1px;
  vertical-align: top;
  margin-left: auto;
  left: auto;
  right: auto
}
.ar .ac[class*=pull-],
.ar .ac[class*=push-] {
  position: relative
}
.ar .ac.s1 {
  width: 1%
}
.ar .ac.s2 {
  width: 2%
}
.ar .ac.s3 {
  width: 3%
}
.ar .ac.s4 {
  width: 4%
}
.ar .ac.s5 {
  width: 5%
}
.ar .ac.s6 {
  width: 6%
}
.ar .ac.s7 {
  width: 7%
}
.ar .ac.s8 {
  width: 8%
}
.ar .ac.s9 {
  width: 9%
}
.ar .ac.s10 {
  width: 10%
}
.ar .ac.s11 {
  width: 11%
}
.ar .ac.s12 {
  width: 12%
}
.ar .ac.s13 {
  width: 13%
}
.ar .ac.s14 {
  width: 14%
}
.ar .ac.s15 {
  width: 15%
}
.ar .ac.s16 {
  width: 16%
}
.ar .ac.s17 {
  width: 17%
}
.ar .ac.s18 {
  width: 18%
}
.ar .ac.s19 {
  width: 19%
}
.ar .ac.s20 {
  width: 20%
}
.ar .ac.s21 {
  width: 21%
}
.ar .ac.s22 {
  width: 22%
}
.ar .ac.s23 {
  width: 23%
}
.ar .ac.s24 {
  width: 24%
}
.ar .ac.s25 {
  width: 25%
}
.ar .ac.s26 {
  width: 26%
}
.ar .ac.s27 {
  width: 27%
}
.ar .ac.s28 {
  width: 28%
}
.ar .ac.s29 {
  width: 29%
}
.ar .ac.s30 {
  width: 30%
}
.ar .ac.s31 {
  width: 31%
}
.ar .ac.s32 {
  width: 32%
}
.ar .ac.s33 {
  width: 33%
}
.ar .ac.s34 {
  width: 34%
}
.ar .ac.s35 {
  width: 35%
}
.ar .ac.s36 {
  width: 36%
}
.ar .ac.s37 {
  width: 37%
}
.ar .ac.s38 {
  width: 38%
}
.ar .ac.s39 {
  width: 39%
}
.ar .ac.s40 {
  width: 40%
}
.ar .ac.s41 {
  width: 41%
}
.ar .ac.s42 {
  width: 42%
}
.ar .ac.s43 {
  width: 43%
}
.ar .ac.s44 {
  width: 44%
}
.ar .ac.s45 {
  width: 45%
}
.ar .ac.s46 {
  width: 46%
}
.ar .ac.s47 {
  width: 47%
}
.ar .ac.s48 {
  width: 48%
}
.ar .ac.s49 {
  width: 49%
}
.ar .ac.s50 {
  width: 50%
}
.ar .ac.s51 {
  width: 51%
}
.ar .ac.s52 {
  width: 52%
}
.ar .ac.s53 {
  width: 53%
}
.ar .ac.s54 {
  width: 54%
}
.ar .ac.s55 {
  width: 55%
}
.ar .ac.s56 {
  width: 56%
}
.ar .ac.s57 {
  width: 57%
}
.ar .ac.s58 {
  width: 58%
}
.ar .ac.s59 {
  width: 59%
}
.ar .ac.s60 {
  width: 60%
}
.ar .ac.s61 {
  width: 61%
}
.ar .ac.s62 {
  width: 62%
}
.ar .ac.s63 {
  width: 63%
}
.ar .ac.s64 {
  width: 64%
}
.ar .ac.s65 {
  width: 65%
}
.ar .ac.s66 {
  width: 66%
}
.ar .ac.s67 {
  width: 67%
}
.ar .ac.s68 {
  width: 68%
}
.ar .ac.s69 {
  width: 69%
}
.ar .ac.s70 {
  width: 70%
}
.ar .ac.s71 {
  width: 71%
}
.ar .ac.s72 {
  width: 72%
}
.ar .ac.s73 {
  width: 73%
}
.ar .ac.s74 {
  width: 74%
}
.ar .ac.s75 {
  width: 75%
}
.ar .ac.s76 {
  width: 76%
}
.ar .ac.s77 {
  width: 77%
}
.ar .ac.s78 {
  width: 78%
}
.ar .ac.s79 {
  width: 79%
}
.ar .ac.s80 {
  width: 80%
}
.ar .ac.s81 {
  width: 81%
}
.ar .ac.s82 {
  width: 82%
}
.ar .ac.s83 {
  width: 83%
}
.ar .ac.s84 {
  width: 84%
}
.ar .ac.s85 {
  width: 85%
}
.ar .ac.s86 {
  width: 86%
}
.ar .ac.s87 {
  width: 87%
}
.ar .ac.s88 {
  width: 88%
}
.ar .ac.s89 {
  width: 89%
}
.ar .ac.s90 {
  width: 90%
}
.ar .ac.s91 {
  width: 91%
}
.ar .ac.s92 {
  width: 92%
}
.ar .ac.s93 {
  width: 93%
}
.ar .ac.s94 {
  width: 94%
}
.ar .ac.s95 {
  width: 95%
}
.ar .ac.s96 {
  width: 96%
}
.ar .ac.s97 {
  width: 97%
}
.ar .ac.s98 {
  width: 98%
}
.ar .ac.s99 {
  width: 99%
}
.ar .ac.s100 {
  width: 100%
}
@media only screen and (min-width:601px) {
  .ar .ac.m1 {
    width: 1%
  }
  .ar .ac.m2 {
    width: 2%
  }
  .ar .ac.m3 {
    width: 3%
  }
  .ar .ac.m4 {
    width: 4%
  }
  .ar .ac.m5 {
    width: 5%
  }
  .ar .ac.m6 {
    width: 6%
  }
  .ar .ac.m7 {
    width: 7%
  }
  .ar .ac.m8 {
    width: 8%
  }
  .ar .ac.m9 {
    width: 9%
  }
  .ar .ac.m10 {
    width: 10%
  }
  .ar .ac.m11 {
    width: 11%
  }
  .ar .ac.m12 {
    width: 12%
  }
  .ar .ac.m13 {
    width: 13%
  }
  .ar .ac.m14 {
    width: 14%
  }
  .ar .ac.m15 {
    width: 15%
  }
  .ar .ac.m16 {
    width: 16%
  }
  .ar .ac.m17 {
    width: 17%
  }
  .ar .ac.m18 {
    width: 18%
  }
  .ar .ac.m19 {
    width: 19%
  }
  .ar .ac.m20 {
    width: 20%
  }
  .ar .ac.m21 {
    width: 21%
  }
  .ar .ac.m22 {
    width: 22%
  }
  .ar .ac.m23 {
    width: 23%
  }
  .ar .ac.m24 {
    width: 24%
  }
  .ar .ac.m25 {
    width: 25%
  }
  .ar .ac.m26 {
    width: 26%
  }
  .ar .ac.m27 {
    width: 27%
  }
  .ar .ac.m28 {
    width: 28%
  }
  .ar .ac.m29 {
    width: 29%
  }
  .ar .ac.m30 {
    width: 30%
  }
  .ar .ac.m31 {
    width: 31%
  }
  .ar .ac.m32 {
    width: 32%
  }
  .ar .ac.m33 {
    width: 33%
  }
  .ar .ac.m34 {
    width: 34%
  }
  .ar .ac.m35 {
    width: 35%
  }
  .ar .ac.m36 {
    width: 36%
  }
  .ar .ac.m37 {
    width: 37%
  }
  .ar .ac.m38 {
    width: 38%
  }
  .ar .ac.m39 {
    width: 39%
  }
  .ar .ac.m40 {
    width: 40%
  }
  .ar .ac.m41 {
    width: 41%
  }
  .ar .ac.m42 {
    width: 42%
  }
  .ar .ac.m43 {
    width: 43%
  }
  .ar .ac.m44 {
    width: 44%
  }
  .ar .ac.m45 {
    width: 45%
  }
  .ar .ac.m46 {
    width: 46%
  }
  .ar .ac.m47 {
    width: 47%
  }
  .ar .ac.m48 {
    width: 48%
  }
  .ar .ac.m49 {
    width: 49%
  }
  .ar .ac.m50 {
    width: 50%
  }
  .ar .ac.m51 {
    width: 51%
  }
  .ar .ac.m52 {
    width: 52%
  }
  .ar .ac.m53 {
    width: 53%
  }
  .ar .ac.m54 {
    width: 54%
  }
  .ar .ac.m55 {
    width: 55%
  }
  .ar .ac.m56 {
    width: 56%
  }
  .ar .ac.m57 {
    width: 57%
  }
  .ar .ac.m58 {
    width: 58%
  }
  .ar .ac.m59 {
    width: 59%
  }
  .ar .ac.m60 {
    width: 60%
  }
  .ar .ac.m61 {
    width: 61%
  }
  .ar .ac.m62 {
    width: 62%
  }
  .ar .ac.m63 {
    width: 63%
  }
  .ar .ac.m64 {
    width: 64%
  }
  .ar .ac.m65 {
    width: 65%
  }
  .ar .ac.m66 {
    width: 66%
  }
  .ar .ac.m67 {
    width: 67%
  }
  .ar .ac.m68 {
    width: 68%
  }
  .ar .ac.m69 {
    width: 69%
  }
  .ar .ac.m70 {
    width: 70%
  }
  .ar .ac.m71 {
    width: 71%
  }
  .ar .ac.m72 {
    width: 72%
  }
  .ar .ac.m73 {
    width: 73%
  }
  .ar .ac.m74 {
    width: 74%
  }
  .ar .ac.m75 {
    width: 75%
  }
  .ar .ac.m76 {
    width: 76%
  }
  .ar .ac.m77 {
    width: 77%
  }
  .ar .ac.m78 {
    width: 78%
  }
  .ar .ac.m79 {
    width: 79%
  }
  .ar .ac.m80 {
    width: 80%
  }
  .ar .ac.m81 {
    width: 81%
  }
  .ar .ac.m82 {
    width: 82%
  }
  .ar .ac.m83 {
    width: 83%
  }
  .ar .ac.m84 {
    width: 84%
  }
  .ar .ac.m85 {
    width: 85%
  }
  .ar .ac.m86 {
    width: 86%
  }
  .ar .ac.m87 {
    width: 87%
  }
  .ar .ac.m88 {
    width: 88%
  }
  .ar .ac.m89 {
    width: 89%
  }
  .ar .ac.m90 {
    width: 90%
  }
  .ar .ac.m91 {
    width: 91%
  }
  .ar .ac.m92 {
    width: 92%
  }
  .ar .ac.m93 {
    width: 93%
  }
  .ar .ac.m94 {
    width: 94%
  }
  .ar .ac.m95 {
    width: 95%
  }
  .ar .ac.m96 {
    width: 96%
  }
  .ar .ac.m97 {
    width: 97%
  }
  .ar .ac.m98 {
    width: 98%
  }
  .ar .ac.m99 {
    width: 99%
  }
  .ar .ac.m100 {
    width: 100%
  }
}
@media only screen and (min-width:993px) {
  .ar .ac.l1 {
    width: 1%
  }
  .ar .ac.l2 {
    width: 2%
  }
  .ar .ac.l3 {
    width: 3%
  }
  .ar .ac.l4 {
    width: 4%
  }
  .ar .ac.l5 {
    width: 5%
  }
  .ar .ac.l6 {
    width: 6%
  }
  .ar .ac.l7 {
    width: 7%
  }
  .ar .ac.l8 {
    width: 8%
  }
  .ar .ac.l9 {
    width: 9%
  }
  .ar .ac.l10 {
    width: 10%
  }
  .ar .ac.l11 {
    width: 11%
  }
  .ar .ac.l12 {
    width: 12%
  }
  .ar .ac.l13 {
    width: 13%
  }
  .ar .ac.l14 {
    width: 14%
  }
  .ar .ac.l15 {
    width: 15%
  }
  .ar .ac.l16 {
    width: 16%
  }
  .ar .ac.l17 {
    width: 17%
  }
  .ar .ac.l18 {
    width: 18%
  }
  .ar .ac.l19 {
    width: 19%
  }
  .ar .ac.l20 {
    width: 20%
  }
  .ar .ac.l21 {
    width: 21%
  }
  .ar .ac.l22 {
    width: 22%
  }
  .ar .ac.l23 {
    width: 23%
  }
  .ar .ac.l24 {
    width: 24%
  }
  .ar .ac.l25 {
    width: 25%
  }
  .ar .ac.l26 {
    width: 26%
  }
  .ar .ac.l27 {
    width: 27%
  }
  .ar .ac.l28 {
    width: 28%
  }
  .ar .ac.l29 {
    width: 29%
  }
  .ar .ac.l30 {
    width: 30%
  }
  .ar .ac.l31 {
    width: 31%
  }
  .ar .ac.l32 {
    width: 32%
  }
  .ar .ac.l33 {
    width: 33%
  }
  .ar .ac.l34 {
    width: 34%
  }
  .ar .ac.l35 {
    width: 35%
  }
  .ar .ac.l36 {
    width: 36%
  }
  .ar .ac.l37 {
    width: 37%
  }
  .ar .ac.l38 {
    width: 38%
  }
  .ar .ac.l39 {
    width: 39%
  }
  .ar .ac.l40 {
    width: 40%
  }
  .ar .ac.l41 {
    width: 41%
  }
  .ar .ac.l42 {
    width: 42%
  }
  .ar .ac.l43 {
    width: 43%
  }
  .ar .ac.l44 {
    width: 44%
  }
  .ar .ac.l45 {
    width: 45%
  }
  .ar .ac.l46 {
    width: 46%
  }
  .ar .ac.l47 {
    width: 47%
  }
  .ar .ac.l48 {
    width: 48%
  }
  .ar .ac.l49 {
    width: 49%
  }
  .ar .ac.l50 {
    width: 50%
  }
  .ar .ac.l51 {
    width: 51%
  }
  .ar .ac.l52 {
    width: 52%
  }
  .ar .ac.l53 {
    width: 53%
  }
  .ar .ac.l54 {
    width: 54%
  }
  .ar .ac.l55 {
    width: 55%
  }
  .ar .ac.l56 {
    width: 56%
  }
  .ar .ac.l57 {
    width: 57%
  }
  .ar .ac.l58 {
    width: 58%
  }
  .ar .ac.l59 {
    width: 59%
  }
  .ar .ac.l60 {
    width: 60%
  }
  .ar .ac.l61 {
    width: 61%
  }
  .ar .ac.l62 {
    width: 62%
  }
  .ar .ac.l63 {
    width: 63%
  }
  .ar .ac.l64 {
    width: 64%
  }
  .ar .ac.l65 {
    width: 65%
  }
  .ar .ac.l66 {
    width: 66%
  }
  .ar .ac.l67 {
    width: 67%
  }
  .ar .ac.l68 {
    width: 68%
  }
  .ar .ac.l69 {
    width: 69%
  }
  .ar .ac.l70 {
    width: 70%
  }
  .ar .ac.l71 {
    width: 71%
  }
  .ar .ac.l72 {
    width: 72%
  }
  .ar .ac.l73 {
    width: 73%
  }
  .ar .ac.l74 {
    width: 74%
  }
  .ar .ac.l75 {
    width: 75%
  }
  .ar .ac.l76 {
    width: 76%
  }
  .ar .ac.l77 {
    width: 77%
  }
  .ar .ac.l78 {
    width: 78%
  }
  .ar .ac.l79 {
    width: 79%
  }
  .ar .ac.l80 {
    width: 80%
  }
  .ar .ac.l81 {
    width: 81%
  }
  .ar .ac.l82 {
    width: 82%
  }
  .ar .ac.l83 {
    width: 83%
  }
  .ar .ac.l84 {
    width: 84%
  }
  .ar .ac.l85 {
    width: 85%
  }
  .ar .ac.l86 {
    width: 86%
  }
  .ar .ac.l87 {
    width: 87%
  }
  .ar .ac.l88 {
    width: 88%
  }
  .ar .ac.l89 {
    width: 89%
  }
  .ar .ac.l90 {
    width: 90%
  }
  .ar .ac.l91 {
    width: 91%
  }
  .ar .ac.l92 {
    width: 92%
  }
  .ar .ac.l93 {
    width: 93%
  }
  .ar .ac.l94 {
    width: 94%
  }
  .ar .ac.l95 {
    width: 95%
  }
  .ar .ac.l96 {
    width: 96%
  }
  .ar .ac.l97 {
    width: 97%
  }
  .ar .ac.l98 {
    width: 98%
  }
  .ar .ac.l99 {
    width: 99%
  }
  .ar .ac.l100 {
    width: 100%
  }
}
.ac {
  padding: 0 .75rem
}


.aione-tabs:after {
  content: "";
  display: table;
  clear: both
}
.aione-tabs .nav {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none
}
.aione-tabs .nav:after {
  content: "";
  display: table;
  clear: both
}
.aione-tabs .nav > * {
  margin: 0;
  padding: 6px 15px;
  color: #484848;
  font-size: 17.6px;
  line-height: 1.5;
  cursor: pointer;
  box-shadow: none;
  position: relative;
  -webkit-transition: all 250ms ease-in-out;
  -moz-transition: all 250ms ease-in-out;
  transition: all 250ms ease-in-out
}
.aione-tabs .nav > :hover {
  color: #444;
}
.aione-tabs .content > * {
  display: none;
}
.aione-tabs .content > .active {
  display: block;
  border:1px dashed #78909c;
  padding: 10px;
}
.aione-tabs.horizontal > .nav > * {
  display: inline-block;
  text-align: center
}
.aione-tabs.horizontal.margin > .nav > * {
  margin-right: 15px
}
.aione-tabs.horizontal.margin > .nav > :last-child {
  margin-right: 0
}
.aione-tabs.horizontal.align-left > .nav {
  text-align: left
}
.aione-tabs.horizontal.align-right > .nav {
  text-align: right
}
.aione-tabs.horizontal.align-center > .nav {
  text-align: center
}
.aione-tabs.vertical > .nav {
  width: 30%;
  float: left
}
.aione-tabs.vertical > .content {
  width: 68%;
  float: right
}
.aione-tabs.vertical.layout-right > .nav {
  float: right
}
.aione-tabs.vertical.layout-right > .content {
  float: left
}
.aione-tabs.vertical > .nav > * {
  display: block;
  text-align: left;
  padding-left: 15px
}
.aione-tabs.vertical.margin > .nav > * {
  margin-bottom: 15px
}
.aione-tabs.vertical.margin > .nav > :last-child {
  margin-bottom: 0
}
.aione-tabs.vertical.align-left > .nav > * {
  text-align: left
}
.aione-tabs.vertical.align-right > .nav > * {
  text-align: right
}
.aione-tabs.vertical.align-center > .nav > * {
  text-align: center
}
.aione-tabs.horizontal.theme-clean > .nav {
  margin-bottom: 20px;
  border-bottom: 1px solid #e8e8e8
}
.aione-tabs.horizontal.theme-clean > .nav > * {
  border: 1px solid transparent;
  border-bottom: none;
  margin-right: 0
}
.aione-tabs.horizontal.theme-clean > .nav > .active {
  border: 1px solid #e8e8e8;
  border-bottom: none
}
.aione-tabs.horizontal.theme-clean > .nav > :after {
  content: '';
  position: absolute;
  bottom: -1px;
  height: 1px;
  left: 0;
  right: 0;
  -webkit-transition: all 250ms ease-in-out;
  -moz-transition: all 250ms ease-in-out;
  transition: all 250ms ease-in-out
}
.aione-tabs.horizontal.theme-clean > .nav > .active:after {
  background-color: #fff
}
.aione-tabs.vertical.theme-clean > .nav {
  border: 1px solid #e8e8e8
}
.aione-tabs.vertical.theme-clean > .nav > * {
  border-bottom: 1px solid #e8e8e8;
  margin-bottom: 0
}
.aione-tabs.vertical.theme-clean > .nav > :last-child {
  border-bottom: none
}
.aione-tabs.vertical.theme-clean > .nav > :after {
  content: '';
  position: absolute;
  width: 1px;
  top: 0;
  bottom: 0;
  right: -1px;
  -webkit-transition: all 250ms ease-in-out;
  -moz-transition: all 250ms ease-in-out;
  transition: all 250ms ease-in-out
}
.aione-tabs.vertical.theme-clean > .nav > .active:after {
  background-color: #fff
}
.aione-tabs.vertical.theme-clean.layout-right > .nav > :after {
  left: -1px;
  right: auto
}
.aione-tabs.horizontal.theme-bold > .nav {
  margin-bottom: 20px
}
.aione-tabs.horizontal.theme-bold > .nav > * {
  border-bottom: none;
  margin-right: 0
}
.aione-tabs.horizontal.theme-bold > .nav > :hover {
  background: #f2f2f2
}
.aione-tabs.horizontal.theme-bold > .nav > .active {
  border-bottom: none;
  background: #168dc5;
  color: #fff
}
.aione-tabs.horizontal.theme-bold > .nav > .active:hover {
  background: #1570a6
}
.aione-tabs.vertical.theme-bold > .nav > * {
  border-bottom: 1px solid #e8e8e8
}
.aione-tabs.vertical.theme-bold > .nav > .active {
  border-bottom: 1px solid #168dc5;
  background: #168dc5;
  color: #fff
}
.aione-tabs.vertical.theme-bold > .nav > .active:hover {
  background: #1570a6;
  border-bottom: 1px solid #1570a6
}
.aione-tabs.vertical.theme-bold > .nav > :hover {
  background: #f2f2f2
}
.aione-tabs.horizontal.theme-pointer > .nav {
  margin-bottom: 20px
}
.aione-tabs.horizontal.theme-pointer > .nav > :after {
  content: '';
  display: none;
  position: absolute;
  width: 0;
  height: 0;
  bottom: 0;
  left: 50%;
  margin-left: -12px;
  border-top: 16px solid #168dc5;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  -webkit-transition: all 250ms ease-in-out;
  -moz-transition: all 250ms ease-in-out;
  transition: all 250ms ease-in-out
}
.aione-tabs.horizontal.theme-pointer > .nav > .active {
  color: #fff;
  background: #168dc5
}
.aione-tabs.horizontal.theme-pointer > .nav > .active:hover {
  background: #1570a6
}
.aione-tabs.horizontal.theme-pointer > .nav > .active:after {
  display: block;
  bottom: -16px;
  border-top-color: #168dc5
}
.aione-tabs.horizontal.theme-pointer > .nav > .active:hover:after {
  border-top-color: #1570a6
}
.aione-tabs.vertical.theme-pointer > .nav {
  margin-bottom: 20px
}
.aione-tabs.vertical.theme-pointer > .nav > :after {
  content: '';
  display: none;
  position: absolute;
  width: 0;
  height: 0;
  bottom: 0;
  left: 100%;
  border-top: 12px solid transparent;
  border-left: 16px solid #168dc5;
  border-right: 12px solid transparent;
  -webkit-transition: all 250ms ease-in-out;
  -moz-transition: all 250ms ease-in-out;
  transition: all 250ms ease-in-out
}
.aione-tabs.vertical.theme-pointer > .nav > .active {
  color: #fff;
  background: #168dc5
}
.aione-tabs.vertical.theme-pointer > .nav > .active:hover {
  background: #1570a6
}
.aione-tabs.vertical.theme-pointer > .nav > .active:after {
  display: block;
  bottom: -16px
}
.aione-tabs.horizontal.theme-pointer > .nav > :after {
  content: '';
  display: none;
  position: absolute;
  width: 0;
  height: 0;
  bottom: 0;
  left: 50%;
  margin-left: -12px;
  border-top: 16px solid #168dc5;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent
}
.aione-tabs.horizontal.theme-pointer > .nav > .active:after {
  display: block;
  bottom: -16px;
  border-top-color: #168dc5
}
.aione-tabs.vertical.theme-pointer > .nav > :after {
  content: '';
  display: none;
  position: absolute;
  width: 0;
  height: 0;
  bottom: 0;
  right: 0;
  top: calc(50% - 12px);
  border-top: 12px solid transparent;
  border-left: 16px solid #168dc5;
  border-bottom: 12px solid transparent
}
.aione-tabs.vertical.theme-pointer > .nav > *li:hover:after {
  right: 10px;
  border-color: #666
}
.aione-tabs.vertical.theme-pointer > .nav > *li.active:after {
  border-color: #fff;
  right: 10px
}
.aione-tabs.theme-pastel > .nav {
  margin-bottom: 20px
}
.aione-tabs.theme-pastel > .nav > * {
  color: #fff
}
.aione-tabs.theme-pastel > .nav > :nth-child(1) {
  background-color: #1e729a
}
.aione-tabs.theme-pastel > .nav > :nth-child(2) {
  background-color: #54a7a7
}
.aione-tabs.theme-pastel > .nav > :nth-child(3) {
  background-color: #dec383
}
.aione-tabs.theme-pastel > .nav > :nth-child(4) {
  background-color: #ed8d75
}
.aione-tabs.theme-pastel > .nav > :nth-child(5) {
  background-color: #ff8282
}
.aione-tabs.theme-pastel > .nav > :nth-child(6) {
  background-color: #8296a0
}
.aione-tabs.theme-pastel > .nav > :nth-child(7) {
  background-color: #1e729a
}
.aione-tabs.theme-pastel > .nav > :nth-child(8) {
  background-color: #54a7a7
}
.aione-tabs.theme-pastel > .nav > :nth-child(9) {
  background-color: #dec383
}
.aione-tabs.theme-pastel > .nav > :nth-child(10) {
  background-color: #ed8d75
}
.aione-tabs.theme-pastel > .nav > :nth-child(11) {
  background-color: #ff8282
}
.aione-tabs.theme-pastel > .nav > :nth-child(12) {
  background-color: #8296a0
}
.aione-tabs.theme-pastel > .nav > .active:nth-child(1):after {
  border-top-color: #1e729a
}
.aione-tabs.theme-pastel > .nav > .active:nth-child(2):after {
  border-top-color: #54a7a7
}
.aione-tabs.theme-pastel > .nav > .active:nth-child(3):after {
  border-top-color: #dec383
}
.aione-tabs.theme-pastel > .nav > .active:nth-child(4):after {
  border-top-color: #ed8d75
}
.aione-tabs.theme-pastel > .nav > .active:nth-child(5):after {
  border-top-color: #ff8282
}
.aione-tabs.theme-pastel > .nav > .active:nth-child(6):after {
  border-top-color: #8296a0
}
.aione-tabs.theme-pastel > .nav > .active:nth-child(7):after {
  border-top-color: #1e729a
}
.aione-tabs.theme-pastel > .nav > .active:nth-child(8):after {
  border-top-color: #54a7a7
}
.aione-tabs.theme-pastel > .nav > .active:nth-child(9):after {
  border-top-color: #dec383
}
.aione-tabs.theme-pastel > .nav > .active:nth-child(10):after {
  border-top-color: #ed8d75
}
.aione-tabs.theme-pastel > .nav > .active:nth-child(11):after {
  border-top-color: #ff8282
}
.aione-tabs.theme-pastel > .nav > .active:nth-child(12):after {
  border-top-color: #8296a0
}



.aione-social-icons {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
  margin-bottom: 10px
}
.aione-social-icons > * {
  width: 36px;
  padding: 0;
  color: #fff;
  font-size: 20px;
  line-height: 36px;
  margin-right: 5px;
  text-align: center;
  font-weight: 400;
  display: inline-block;
  text-decoration: none
}
.aione-social-icons.labels > * > a {
  padding: 0 20px
}
.aione-social-icons > * > a {
  display: block
}
.aione-social-icons > * > a .icon {
  display: inline-block
}
.aione-social-icons > * > a .label {
  display: none;
  padding-left: 8px
}
.aione-social-icons.labels > * > a .label {
  display: inline-block
}
.aione-social-icons.vertical > * {
  display: block;
  margin-right: 0;
  margin-bottom: 5px
}
.aione-social-icons.small > * {
  font-size: 24px;
  width: 36px
}
.aione-social-icons.small > *,
.aione-social-icons.small > * > a,
.aione-social-icons.small > * > a > .icon,
.aione-social-icons.small > * > a > .icon:before,
.aione-social-icons.small > * > a > .label {
  line-height: 36px
}
.aione-social-icons.medium > * {
  font-size: 28px;
  width: 42px
}
.aione-social-icons.medium > *,
.aione-social-icons.medium > * > a,
.aione-social-icons.medium > * > a > .icon,
.aione-social-icons.medium > * > a > .icon:before,
.aione-social-icons.medium > * > a > .label {
  line-height: 42px
}
.aione-social-icons.large > * {
  font-size: 32px;
  width: 54px
}
.aione-social-icons.large > *,
.aione-social-icons.large > * > a,
.aione-social-icons.large > * > a > .icon,
.aione-social-icons.large > * > a > .icon:before,
.aione-social-icons.large > * > a > .label {
  line-height: 54px
}
.aione-social-icons.xlarge > * {
  font-size: 36px;
  width: 64px
}
.aione-social-icons.xlarge > *,
.aione-social-icons.xlarge > * > a,
.aione-social-icons.xlarge > * > a > .icon,
.aione-social-icons.xlarge > * > a > .icon:before,
.aione-social-icons.xlarge > * > a > .label {
  line-height: 64px
}
.aione-social-icons.large.labels > *,
.aione-social-icons.medium.labels > *,
.aione-social-icons.small.labels > *,
.aione-social-icons.xlarge.labels > * {
  width: auto
}
.aione-social-icons.square > * {
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0
}
.aione-social-icons.rounded > * {
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px
}
.aione-social-icons.circle > * {
  -moz-border-radius: 999px;
  -webkit-border-radius: 999px;
  border-radius: 999px
}
.aione-social-icons.light > * {
  color: #fff;
  background: 0 0
}
.aione-social-icons.light > * > a,
.aione-social-icons.light > * > a:hover {
  color: #fff
}
.aione-social-icons.light-solid > * {
  color: #333;
  background: #fff
}
.aione-social-icons.light-solid > * > a,
.aione-social-icons.light-solid > * > a:hover {
  color: #333
}
.aione-social-icons.light-outline > * {
  color: #fff;
  border: 2px solid #fff;
  background: 0 0
}
.aione-social-icons.light-outline > * > a,
.aione-social-icons.light-outline > * > a:hover {
  color: #fff
}
.aione-social-icons.dark > * {
  color: #333;
  background: 0 0
}
.aione-social-icons.dark > * > a,
.aione-social-icons.dark > * > a:hover {
  color: #333
}
.aione-social-icons.dark-solid > * {
  color: #fff;
  background: #333
}
.aione-social-icons.dark-solid > * > a,
.aione-social-icons.dark-solid > * > a:hover {
  color: #fff
}
.aione-social-icons.dark-outline > * {
  border: 2px solid #333;
  background-color: transparent
}
.aione-social-icons.dark-outline > * > a,
.aione-social-icons.dark-outline > * > a:hover {
  color: #333
}
.aione-social-icons.colored > *,
.aione-social-icons.colored > * > a,
.aione-social-icons.colored > * > a:hover {
  color: #fff
}
.facebook {
  background: #4060a5
}
.facebook > a > .icon:before {
  font-family: FontAwesome;
  content: "\f09a"
}
.twitter {
  background: #00abe3
}
.twitter > a > .icon:before {
  font-family: Ionicons;
  content: "\f2b0"
}
.googleplus {
  background: #e64522
}
.googleplus > a > .icon:before {
  font-family: Ionicons;
  content: "\f23b"
}
.linkedin {
  background: #0094bc
}
.linkedin > a > .icon:before {
  font-family: FontAwesome;
  content: "\f0e1"
}
.pinterest {
  background: #cb2027
}
.pinterest > a > .icon:before {
  font-family: Ionicons;
  content: "\f244"
}
.tumblr {
  background: #3a5876
}
.tumblr > a > .icon:before {
  font-family: Ionicons;
  content: "\f24d"
}
.rss {
  background: #e88845
}
.rss > a > .icon:before {
  font-family: Ionicons;
  content: "\f248"
}
.whatsapp {
  background: #34af23
}
.whatsapp > a > .icon:before {
  font-family: Ionicons;
  content: "\f2c5"
}
.reddit {
  background: #ff4500
}
.reddit > a > .icon:before {
  font-family: Ionicons;
  content: "\f247"
}
.buffer {
  background: #323b43
}
.buffer > a > .icon:before {
  font-family: Ionicons;
  content: "\f22d"
}
.youtube {
  background: #b00
}
.youtube > a > .icon:before {
  font-family: FontAwesome;
  content: "\f167"
}
.flickr {
  background: #ff0084
}
.flickr > a > .icon:before {
  font-family: FontAwesome;
  content: "\f16e"
}
.instagram {
  background: #bc2a8d
}
.instagram > a > .icon:before {
  font-family: FontAwesome;
  content: "\f16d"
}
.yahoo {
  background: #7b0099
}
.yahoo > a > .icon:before {
  font-family: FontAwesome;
  content: "\f19e"
}
.vimeo {
  background: #1ab7ea
}
.vimeo > a > .icon:before {
  font-family: FontAwesome;
  content: "\f27d"
}
.stumbleupon {
  background: #eb4823
}
.stumbleupon > a > .icon:before {
  font-family: FontAwesome;
  content: "\f1a4"
}
.quora {
  background: #a82400
}
.quora > a > .icon:before {
  font-family: FontAwesome;
  content: "\f2c4"
}
.foursquare {
  background: #0072b1
}
.foursquare > a > .icon:before {
  font-family: FontAwesome;
  content: "\f180"
}
.forrst {
  background: #5b9a68
}
.forrst > a > .icon:before {
  font-family: Ionicons;
  content: "\f22d"
}
.vk {
  background: #45668e
}
.vk > a > .icon:before {
  font-family: FontAwesome;
  content: "\f189"
}
.blogger {
  background: #fb8f3d
}
.blogger > a > .icon:before {
  font-family: FontAwesome;
  content: "\f37c"
}
.wordpress {
  background: #21759b
}
.wordpress > a > .icon:before {
  font-family: FontAwesome;
  content: "\f19a"
}
.soundcloud {
  background: #ff3a00
}
.soundcloud > a > .icon:before {
  font-family: FontAwesome;
  content: "\f1be"
}
.dribbble {
  background: #ea4c89
}
.dribbble > a > .icon:before {
  font-family: FontAwesome;
  content: "\f17d"
}
.new-instagram {
  background: #e95950
}
.new-instagram > a > .icon:before {
  font-family: FontAwesome;
  content: "\f16d"
}
.behance {
  background: #1769ff
}
.behance > a > .icon:before {
  font-family: FontAwesome;
  content: "\f1b4"
}
.spotify {
  background: #00e461
}
.spotify > a > .icon:before {
  font-family: FontAwesome;
  content: "\f1bc"
}
.vine {
  background: #00bf8f
}
.vine > a > .icon:before {
  font-family: FontAwesome;
  content: "\f1ca"
}
.github {
  background: #000
}
.github > a > .icon:before {
  font-family: FontAwesome;
  content: "\f09b"
}
.dropbox {
  background: #007ee5
}
.dropbox > a > .icon:before {
  font-family: FontAwesome;
  content: "\f16b"
}
.snapchat {
  background: #fffc00
}
.snapchat > a > .icon:before {
  font-family: FontAwesome;
  content: "\f2ac"
}