@font-face {
  font-family: 'icomoon';
  src:url('../fonts/icomoon/icomoon.eot?cacde4');
  src:url('../fonts/icomoon/icomoon.eot?#iefixcacde4') format('embedded-opentype'),
    url('../fonts/icomoon/icomoon.woff?cacde4') format('woff'),
    url('../fonts/icomoon/icomoon.ttf?cacde4') format('truetype'),
    url('../fonts/icomoon/icomoon.svg?cacde4#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="oxoa-"], [class*=" oxoa-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.oxoa-logo:before {
  content: "\e639";
}
.oxoa-footer:before {
  content: "\e637";
}
.oxoa-page_title:before {
  content: "\e636";
}
.oxoa-loop-alt2:before {
  content: "\e62e";
}
.oxoa-anchor:before {
  content: "\e62f";
}
.oxoa-columns:before {
  content: "\e600";
}
.oxoa-file-alt:before {
  content: "\e601";
}
.oxoa-copy:before {
  content: "\e602";
}
.oxoa-exclamation-sign:before {
  content: "\e603";
}
.oxoa-blog:before {
  content: "\e604";
}
.oxoa-check-empty:before {
  content: "\e605";
}
.oxoa-list-ul:before {
  content: "\e606";
}
.oxoa-users:before {
  content: "\e612";
}
.oxoa-newspaper:before {
  content: "\e613";
}
.oxoa-clock:before {
  content: "\e614";
}
.oxoa-browser:before {
  content: "\e615";
}
.oxoa-d:before {
  content: "\e61d";
}
.oxoa-air:before {
  content: "\e616";
}
.oxoa-map:before {
  content: "\e617";
}
.oxoa-flag:before {
  content: "\e608";
}
.oxoa-move-horizontal:before {
  content: "\e61e";
}
.oxoa-uniF6CC:before {
  content: "\e61f";
}
.oxoa-image:before {
  content: "\e620";
}
.oxoa-images:before {
  content: "\e621";
}
.oxoa-uniF602:before {
  content: "\e622";
}
.oxoa-stack:before {
  content: "\e623";
}
.oxoa-user:before {
  content: "\e618";
}
.oxoa-dollar:before {
  content: "\e609";
}
.oxoa-tasks:before {
  content: "\e60a";
}
.oxoa-feather:before {
  content: "\e619";
}
.oxoa-uniF61C:before {
  content: "\e624";
}
.oxoa-insertpicture:before {
  content: "\e625";
}
.oxoa-link:before {
  content: "\e61b";
}
.oxoa-soundcloud:before {
  content: "\e61c";
}
.oxoa-table:before {
  content: "\e60b";
}
.oxoa-folder:before {
  content: "\e62b";
}
.oxoa-list-alt:before {
  content: "\e60c";
}
.oxoa-bubbles:before {
  content: "\e626";
}
.oxoa-font:before {
  content: "\e627";
}
.oxoa-H:before {
  content: "\e628";
}
.oxoa-expand-alt:before {
  content: "\e60d";
}
.oxoa-hand-up:before {
  content: "\e60e";
}
.oxoa-film:before {
  content: "\e60f";
}
.oxoa-star-empty:before {
  content: "\e610";
}
.oxoa-shopping-cart:before {
  content: "\e611";
}
.oxoa-share2:before {
  content: "\e629";
}
.oxoa-layers-alt:before {
  content: "\e62a";
}
.oxoa-minus:before {
  content: "\e61a";
}
.oxoa-TFicon:before {
  content: "\e62d";
}
.oxoa-youtube:before {
  content: "\e607";
}
.oxoa-vimeo2:before {
  content: "\e62c";
}
.oxoa-sidebar:before {
  content: "\e634";
}
.oxoa-header:before {
  content: "\e635";
}
.oxoa-tag:before {
  content: "\e632";
}
.oxoa-pointer:before {
  content: "\e630";
}
.oxoa-external-link:before {
  content: "\f08e";
}
.oxoa-external-link-square:before {
  content: "\f14c";
}
.oxoa-file:before {
  content: "\e633";
}
.oxoa-ellipsis:before {
  content: "\e631";
}
.oxoa-tools:before {
  content: "\e63b";
}
.oxoa-pin-outline:before {
  content: "\e63f";
}
.oxoa-sitewidth:before {
  content: "\e63a";
}
.oxoa-search:before {
  content: "\f002";
}
.oxoa-envelope-o:before {
  content: "\f003";
}
.oxoa-plus:before {
  content: "\f067";
}
.oxoa-plus2:before {
  content: "\e645";
  font-size:12px;
}
.oxoa-socialmedia:before {
  content: "\f08a";
}
.oxoa-menu:before {
  content: "\f0c9";
}
.oxoa-code:before {
  content: "\f121";
}
.oxoa-css3:before {
  content: "\f13c";
}
.oxoa-equalizer:before {
  content: "\e638";
}
.oxoa-loop:before {
  content: "\e63c";
}
.oxoa-droplet:before {
  content: "\e63d";
}
.oxoa-drive:before {
  content: "\e63e";
}
.oxoa-pen:before {
  content: "\e640";
}
.oxoa-file-add:before {
  content: "\e641";
}
.oxoa-trash-o:before {
  content: "\f014";
}
.oxoa-reply:before {
  content: "\e642";
}
.oxoa-forward:before {
  content: "\e643";
}

#poststuff .pyre_metabox h2{margin-top:30px;}

#of_container .controls .wp-picker-container .wp-color-result { outline: 0; margin-bottom: 11px; }
#of_container .controls .wp-picker-container .wp-color-result:focus{ outline: 0; }

#section-status_revslider .controls,
#section-post_type_order .controls { display: none; }

.hide-if-no-js a img{max-width:100%;}

.form-field-checkbox input[type=checkbox] {
  width: 16px !important;
}

.form-field-checkbox .description {
  display: inline-block !important;
}

.pyre_metabox_field textarea {
  max-width: 100%;
}

.post-type-slide #slide-page-add-toggle,
.post-type-slide #sbg-sortables {
  display: none;
}

#pyre_page_options .inside, #pyre_post_options .inside,
#pyre_portfolio_options .inside, #pyre_woocommerce_options .inside,
#pyre_slide_options .inside,
#pyre_events_calendar_options .inside {
  padding: 0;
  margin: 0;
}

#pyre_slide_options .pyre_metabox {
  width: 100%;
}

.pyre_metabox_tabs {
  margin: 0;
  padding: 0;
  width: 17%;
  float: left;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background: #f5f5f5;
}

.rtl .pyre_metabox_tabs {
  float: right;
}

.pyre_metabox_tabs li {
  margin: 0;
  padding: 0;
}

.pyre_metabox_tabs li a {
  display: block;
  font-size: 13px;
  color: #222222;
  text-decoration: none;
  padding: 13px;
  border-bottom: 1px solid #e2dddb;
  border-right: 1px solid #e2dddb;
}

.pyre_metabox_tabs li.active a, .pyre_metabox_tabs li a:hover {
  background-color: #fff;
  border-right-color: transparent;
}

.pyre_metabox {
  width: 83%;
  float: left;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 30px;
  padding-bottom: 10px;
}

.rtl .pyre_metabox {
  float: right;
}

.pyre_metabox_field {
  border-bottom: 1px solid #fafafa;
  padding-top: 14px;
  padding-bottom: 14px;
}

.pyre_metabox_tab .pyre_metabox_field:first-child {
  padding-top: 0px;
}

.pyre_metabox_tab {
  display: none;
}

.pyre_metabox_tab.active {
  display: block;
}

.pyre_desc {
  width: 45%;
  float: left;
}
.pyre_desc.code
{
  width:100%;
  text-align:left;

}

#poststuff .pyre_metabox h3 {
  margin: 10px 0 5px 0;
  padding-left: 0 !important;
  font-size: 17px !important;
  color: #b5b4b4;
}

.pyre_desc label {
  font-size: 13px;
  color: #222222;
}

.pyre_desc p {
  margin: 0;
  margin-top: 8px;
  color: #939393;
  font-size: 12px;
}

.pyre_field {
  width: 50%;
  float: right;
}
.pyre_field.code
{
  width:100%;
}
.pyre_field.code textarea#pyre_custom_css 
{
  background-color: #272822;
  color:#fff;
}
.pyre_field.code textarea#pyre_custom_js
{
  background-color: #272822;
  color:#fff;
}

.pyre_field input[type=text],.pyre_field select {
  width: 100%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  border: 1px solid #d6d6d6 !important;
  color: #333333;
  font-size: 13px;
  padding: 7px 15px;
}

.pyre_metabox_field {
  overflow: hidden;
}

.pyre_field {
  position: relative;
}

.pyre_field .oxo-shortcodes-arrow {
  background: #fff;
  width: 35px;
  height: 32px;
  border-left: 1px solid #d9d9d9;
  position: absolute; top: 1px; right: 1px;
  pointer-events: none;
  z-index: 10;
  font-family: 'FontAwesome';
  text-align: center;
  line-height: 32px;
}

.rtl .pyre_field .oxo-shortcodes-arrow {
  right: auto;
  left: 1px;
  border-left: 0;
  border-right: 1px solid #d9d9d9;
}

.pyre_field select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  background: #ffffff;
  border: 1px solid #d9d9d9;
  box-sizing: border-box;
  -webkit-box-sizing: none;
  -moz-box-sizing: none;
  -o-box-sizing: none;
  color: #333333;
  cursor: pointer;
  display: block;
  font-size: 13px;
  outline: none;
  height: auto;
  overflow: ellipsis;
  padding: 7px 15px;
  position: relative;
  text-indent: 0.01px;
  text-overflow: '';
  -webkit-text-overflow: none;
  -moz-text-overflow: none;
  -o-text-overflow: none;
  vertical-align: middle;
  z-index: 5;
  margin: 0;
}

.pyre_field textarea {
  margin: 0;
}

#pyre_tab_pagetitlebar #pyre_page_title_custom_text,
#pyre_tab_pagetitlebar #pyre_page_title_custom_subheader {
  padding: 7px 15px;
  resize: none;
}

.pyre_metabox_tabs a {
}
.pyre_metabox_tabs a:before {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin-right: 8px;
}

.pyre_metabox_tabs a[href^="sliders"]:before {
  content: "\e624";
}

.pyre_metabox_tabs a[href^="page"]:before {
  content: "\e633";
}

.pyre_metabox_tabs a[href^="header"]:before {
  content: "\e635";
}

.pyre_metabox_tabs a[href^="footer"]:before {
  content: "\e637";
}

.pyre_metabox_tabs a[href^="sidebar"]:before {
  content: "\e634";
}

.pyre_metabox_tabs a[href^="background"]:before {
  content: "\e620";
}

.pyre_metabox_tabs a[href^="portfolio"]:before {
  content: "\e625";
}

.pyre_metabox_tabs a[href^="pagetitlebar"]:before {
  content: "\e636";
}

.pyre_metabox_tabs a[href^="post"]:before {
  content: "\e619";
}

.pyre_upload {
  display: table;
  width: 100%;
}

.upload_field {
  display: table-cell;
  width: auto;
}

.oxo_upload_button_container {
  display: table-cell;
  width: 95px;
}

.oxo_upload_button {
  margin: 0 0 0 5px;
  height: 34px;
  width: 90px;
  background: none repeat scroll 0 0 #fff;
  border: 1px solid #c7c5c5;
  color: #333333;
  font-size: 13px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}

/* Dashboard Widget */
#themeoxo_news .rss-widget {
    border-bottom: 1px solid #eee;
    font-size: 13px;
    padding: 8px 12px 10px;
}
#themeoxo_news .rss-widget:last-child {
    border-bottom: medium none;
    padding-bottom: 8px;
}
#themeoxo_news .rss-widget span.rss-date {
    margin-left: 12px;
}
#themeoxo_news .rss-widget:nth-of-type(2) ul li:first-child {
  display: none;
}

/* TGMPA Install/Update Page */
.wrap.tgmpa .subsubsub {
  display: none;
}

/* TGMPA Notices */
#setting-error-tgmpa .oxo-update-heading {
    display: block;
    margin-bottom: 1em;
    font-size: 1.3em;
    color: #dc3232;
}

#setting-error-tgmpa .oxo-update-heading > em {
  font-style: normal;
}

/* Slider Fields */
.oxo-double-fields { overflow: hidden; }
.oxo-double-fields .oxo-field { width: 49%; float: left; }
