 /***************************************
Aione BG
***************************************/
aione-bg-test{
    background-image:url("https://www.toptal.com/designers/subtlepatterns/patterns/tiny-squares.png"); 
    background-image:url("https://www.toptal.com/designers/subtlepatterns/patterns/geometry2.png"); 
    background-image:url("https://www.toptal.com/designers/subtlepatterns/patterns/p5.png"); 
    background-image:url("https://www.toptal.com/designers/subtlepatterns/patterns/debut_light.png"); 
    background-image:url("https://www.toptal.com/designers/subtlepatterns/patterns/grey.png");
    background-image:url("https://www.toptal.com/designers/subtlepatterns/patterns/noisy_grid.png"); 
    background-image:url("https://www.toptal.com/designers/subtlepatterns/patterns/straws.png"); 
    background-image:url("https://www.toptal.com/designers/subtlepatterns/patterns/textured_stripes.png"); 
    background-image:url("https://www.toptal.com/designers/subtlepatterns/patterns/lightpaperfibers.png"); 
    background-image:url("https://www.toptal.com/designers/subtlepatterns/patterns/gplaypattern.png"); 
    background-image:url("https://www.toptal.com/designers/subtlepatterns/patterns/grid_noise.png"); 
    background-image:url("https://www.toptal.com/designers/subtlepatterns/patterns/double_lined.png"); 
}
/***************************************
Slider Theme Darlic
***************************************/
.slider.darlic .owl-dots {
  text-align: center;
  position: absolute;
  width: 100%;
  bottom: 0px;
}
.slider.darlic .owl-dots .owl-dot {
  display: inline-block;
  zoom: 1
}
.slider.darlic .owl-dots .owl-dot span {
  width: 15px;
  height: 15px;
  margin: 0 4px;
  background: rgba(255,255,255,.3);
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  border: 1px solid #666;
  opacity: 1;
  display: block;
  -moz-transition: all .1s ease-in-out;
  -webkit-transition: all .1s ease-in-out;
  transition: all .1s ease-in-out
}
.slider.darlic .owl-dots .owl-dot:hover span {
  background-color: #666
}
.slider.darlic .owl-dots .owl-dot.active span {
  background: #168dc5;
  border-color: #168dc5
}
.slider.darlic .owl-nav .owl-next,
.slider.darlic .owl-nav .owl-prev {
  position: absolute;
  top: 50%;
  margin: -30px 0 0 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  text-transform: uppercase;
  height: 60px;
  font-size: 40px;
  font-weight: 100;
  line-height: 60px;
  padding: 0;
  color: rgba(255,255,255,.5);
  background: rgba(0,0,0,.3);
  -moz-transition: all .1s ease-in-out;
  -webkit-transition: all .1s ease-in-out;
  transition: all .1s ease-in-out
}
.slider.darlic .owl-nav .owl-next:hover,
.slider.darlic .owl-nav .owl-prev:hover,
.slider.darlic:hover .owl-nav .owl-next,
.slider.darlic:hover .owl-nav .owl-prev {
  color: #fff;
  background: rgba(0,0,0,.6)
}
.slider.darlic .owl-nav .owl-prev {
  left: 0
}
.slider.darlic .owl-nav .owl-next {
  right: 0
}

.slider.darlic .slider-caption{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 20px 20px 30px 20px;
    background-color: rgba(0,0,0,0.6);
}
.slider.darlic .slider-caption .caption-title,
.slider.darlic .slider-caption .caption-description{
  text-align: center;
} 
.slider.darlic .slider-caption .caption-title{
    font-size: 30px;
    font-weight: 400;
    letter-spacing: 2px;
    margin: 0 0 10px 0;
    color: #ffffff;
}
.slider.darlic .slider-caption .caption-description{
    font-size: 18px;
    font-weight: 400;
    color: #d6d6d6;
}
/***************************************
Aione Commmon
***************************************/
.ua-device-mobile .hide-on-mobile{
    display:none;
}
.ua-device-desktop .hide-on-desktop{
    display:none;
}
.aione-clear{
	clear: both;
}
a{
	color:#168dc5;
	-webkit-transition: all 180ms ease-in-out;
	   -moz-transition: all 180ms ease-in-out;
	        transition: all 180ms ease-in-out;
}
a:hover{
	color:#1570a6;
}
/***************************************
Aione Layout
***************************************/

.aione-wrapper > .wrapper{
	width: 100%;
	margin: 0 auto;
}
.aione-layout-wide .aione-topbar > .wrapper,
.aione-layout-wide .aione-header > .wrapper,
.aione-layout-wide .primary-nav > .wrapper,
.aione-layout-wide .aione-slider > .wrapper,
.aione-layout-wide .aione-pagetitle > .wrapper,
.aione-layout-wide .aione-pagetop > .wrapper,
.aione-layout-wide .aione-pagebottom > .wrapper,
.aione-layout-wide .aione-main > .wrapper,
.aione-layout-wide .aione-footer > .wrapper,
.aione-layout-wide .aione-copyright > .wrapper,
.aione-layout-wide .aione-powered-by > .wrapper,
.aione-layout-wide .aione-section > .wrapper{
	max-width: 1200px;
	margin: 0 auto;
}

.aione-layout-wide .aione-topbar.fullwidth > .wrapper,
.aione-layout-wide .aione-header.fullwidth > .wrapper,
.aione-layout-wide .primary-nav.fullwidth > .wrapper,
.aione-layout-wide .aione-slider.fullwidth > .wrapper,
.aione-layout-wide .aione-pagetitle.fullwidth > .wrapper,
.aione-layout-wide .aione-pagetop.fullwidth > .wrapper,
.aione-layout-wide .aione-pagebottom.fullwidth > .wrapper,
.aione-layout-wide .aione-main.fullwidth > .wrapper,
.aione-layout-wide .aione-footer.fullwidth > .wrapper,
.aione-layout-wide .aione-copyright.fullwidth > .wrapper,
.aione-layout-wide .aione-powered-by.fullwidth > .wrapper,
.aione-layout-wide .aione-section.fullwidth > .wrapper{
  max-width: 100%;
}

.aione-layout-boxed .aione-topbar > .wrapper,
.aione-layout-boxed .aione-header > .wrapper,
.aione-layout-boxed .primary-nav > .wrapper,
.aione-layout-boxed .aione-slider > .wrapper,
.aione-layout-boxed .aione-pagetitle > .wrapper,
.aione-layout-boxed .aione-pagetop > .wrapper,
.aione-layout-boxed .aione-pagebottom > .wrapper,
.aione-layout-boxed .aione-main > .wrapper,
.aione-layout-boxed .aione-footer > .wrapper,
.aione-layout-boxed .aione-copyright > .wrapper,
.aione-layout-boxed .aione-powered-by > .wrapper,
.aione-layout-boxed .aione-section > .wrapper{
	padding-left: 20px;
	padding-right: 20px;
}

.aione-layout-boxed .aione-topbar.fullwidth > .wrapper,
.aione-layout-boxed .aione-header.fullwidth > .wrapper,
.aione-layout-boxed .primary-nav.fullwidth > .wrapper,
.aione-layout-boxed .aione-slider.fullwidth > .wrapper,
.aione-layout-boxed .aione-pagetitle.fullwidth > .wrapper,
.aione-layout-boxed .aione-pagetop.fullwidth > .wrapper,
.aione-layout-boxed .aione-pagebottom.fullwidth > .wrapper,
.aione-layout-boxed .aione-main.fullwidth > .wrapper,
.aione-layout-boxed .aione-footer.fullwidth > .wrapper,
.aione-layout-boxed .aione-copyright.fullwidth > .wrapper,
.aione-layout-boxed .aione-powered-by.fullwidth > .wrapper,
.aione-layout-boxed .aione-section.fullwidth > .wrapper{
	padding-left: 0px;
	padding-right: 0px;
}
.aione-main > .wrapper{
	padding-top: 0px;
}
.aione-main.page-padding > .wrapper{
	padding-top: 30px;
}
.aione-page-content > .wrapper{
	padding-top: 0px;
}
.aione-main.page-content-padding .aione-page-content > .wrapper{
	padding-top: 30px;
}
.aione-main > .wrapper::after{
	content: '';
	display: table;
	clear: both;
}

/***************************************
Aione Topbar
***************************************/

.aione-topbar{
	margin: 0;
	padding: 0;
	border-top: none;
	background-color: #f2f2f2;
}
.aione-topbar > .wrapper{
  padding: 2px 0;
  min-height: 40px;
  max-height: 120px;
  line-height: 36px;
  overflow:hidden; 
  box-sizing: border-box;
}
.aione-topbar,
.aione-topbar a{
	color:#454545;
	font-size: 17.6px;
	font-weight: 400;
  line-height: 36px;
}
.aione-topbar a:hover{
	color:#333333;
}

.aione-topbar-left{
	float:left;
	text-align: left;
	width: 50%;
}
.aione-topbar-right{
	float:right;
	text-align: right;
	width: 50%;	
}
.aione-topbar-center{
	float:none;
	text-align: center;	
}

.aione-topbar .aione-topbar-left .widget{
	margin-right: 8px;
}
.aione-topbar .aione-topbar-right .widget{
	margin-left: 8px;
}
.aione-topbar .widget .widgettitle{
	display: none;
}
/*.aione-topbar .widget{
  display: inline-block;
  margin-right: 15px;
}
.aione-topbar .widget:last-child{
	margin-right: 0px;
}*/
.aione-topbar .aione-topbar-left .widget{
  float: left;
}
.aione-topbar .aione-topbar-right .widget{
  float: right;
}


.aione-topbar .aione_social_icons_widget ul > li{
	display: inline-block;
	margin-right: 5px;
}
.aione-topbar .aione_social_icons_widget ul > li i{
	margin-right: 5px;
}

.aione-topbar .aione-social-icons{
	margin-bottom: 0;
}
/***************************************
Aione Header
***************************************/

.aione-header-logo,
.aione-header-title,
.aione-header-banner{	
  display: block;
}
.aione-header-banner{
  float: right;
}	
.aione-header-banner .widgettitle{
  font-size: 20px;
  color: #168dc5;
  line-height: 1.4
}
.aione-header-banner .textwidget p{
  text-align: right;
  font-size: 16px;
}
.aione-header-logo{
	width: auto;
    float: left;
    position: relative;
    z-index: 9998;
}
.aione-header-logo a{
	display:inline-block;
}
.aione-header-logo img{
	width: auto;
}
.aione-header .aione-header-title{
	text-align: left;
	display:inline-block;
}
.aione-header-title .site-title{
    margin: 0;
    font-size: 28px;
    font-weight: 400;
    line-height: 30px;
    color: #484c55;
    display: block;
}
.aione-header-title.no-tagline .site-title{
	font-size: 36px;
    line-height: 50px;
}
.site-description{
	color: #595959;
    font-size: 16px;
    line-height: 20px;
    margin: 0;
    display: block;
}

.aione-wrapper.layout-header-left .aione-header-logo,
.aione-wrapper.layout-header-right .aione-header-logo{
    float: none;
    text-align:center;
    display:block;
}

.aione-wrapper.layout-header-left .aione-header-title,
.aione-wrapper.layout-header-right .aione-header-title{
    float: none;
    text-align:center;
    display:block;
}
/***************************************
Aione Header Bannner
***************************************/


/***************************************
Aione Nav
***************************************/
.primary-nav:after{
	content: "";
	clear: both;
	display: table;
}
.aione-nav.horizontal {
    border-bottom: none;
    position: relative;
}
.aione-header-menu{
  padding: 0;
}
.primary-nav.align-left .aione-nav{
  text-align: left;
}
.primary-nav.align-right .aione-nav{
  text-align: right;
}
.primary-nav.align-center .aione-nav{
  text-align: center;
}
.primary-nav.align-right.position-inside{
	float:right;
	display: inline-block;
} 
.primary-nav.align-left.position-inside{
	float:left;
	display: inline-block;
}
.primary-nav .aione-nav{
	background-color: transparent;
}
.primary-nav .aione-nav > ul{
	display: inline-block;
}
.primary-nav .aione-nav.vertical > ul{
	display: block;
}
.primary-nav .aione-nav > ul > li > a {
	padding: 0 12px;
	font-size: 16px;
	line-height: 50px;
}
.primary-nav .aione-nav.horizontal>ul>li>ul {
    overflow: hidden;
}


.aione-wrapper.layout-header-left .primary-nav ,
.aione-wrapper.layout-header-right .primary-nav{
    height: auto !important;
}

/***************************************
Mobile Nav
***************************************/
.primary-nav{
    position: relative;
}
.primary-nav .aione-nav-background {
    display: none;
    position: absolute;
    text-align: center;
    width: 20px;
    height: 20px;
    margin: -10px 0 0 0;
    top: 50%;
    right: 20px;
    cursor: pointer;
    z-index: 9999;
}
.header-wrapper .primary-nav {
	min-height: 40px;
}

.header-wrapper .primary-nav .aione-nav-background {
	top: 20px;
    right: 20px;
}

.primary-nav .aione-nav-background:before {
    content: "";
    position: absolute;
    width: 100%;
    top: 2px;
    bottom: 2px;
    display: block;
    border-top: 2px solid #333333;
    border-bottom: 2px solid #333333;
    transition:all 140ms ease-in-out;
}
.primary-nav .aione-nav-background:after {
    content: "";
    position: absolute;
    width: 100%;
    top: 50%;
    bottom: 0;
    display: block;
    margin: -1px 0 0 0;
    border-top: 2px solid #333333;
    transition:all 140ms ease-in-out;
}
.primary-nav .aione-nav-background.active:before {
    border-bottom: none;
    transform: rotate(-45deg);
    top: 8px;
    left: 3px;
}
.primary-nav .aione-nav-background.active:after {
    transform: rotate(45deg);
    top: 9px;
    left: -3px;
}
@media only screen and (max-width:901px) {
    .primary-nav .aione-nav-background {
        display: block;
    }
    .primary-nav .aione-nav{
        display:none;
	    z-index: 9997;
    }
    .aione-nav.horizontal>ul>li{
        float:none;
    }
    .primary-nav .aione-nav{
        padding-top: 50px;
    }
    .primary-nav .aione-nav > ul{
        width: 100%;
        background: #333333;
        text-align: center;
    }
    .primary-nav .aione-nav > ul > li > a{
        border-bottom:1px solid #454545;
    }
}
.primary-nav .aione-nav.mobile-nav{
    display:block;
}
/*


.aione-nav .aione-menu li a:hover{
	background: #3378bc;
	color: white
}
.aione-menu > .menu-item{
	position: relative;
}
.aione-menu .sub-menu{
	display: none;	
	background: #e8e8e8;
	border-top: 2px solid #3378bc;
	position: absolute;
	top: 38px;
	left: 0;
	z-index: 99;
    width: 250px;
}
.aione-menu .sub-menu > li,
.aione-menu .sub-menu > li > a{
    width: 100%;
}
.aione-menu .menu-item:hover .sub-menu{
	display: block;
	
}


.aione-nav .aione-menu ul li a{
	font-size: 16px;
	color: #333333;
}
.aione-nav .sub-menu > li{
	display: inline-block;
}
.aione-nav .sub-menu > li > a{
	padding: 0;

}
.aione-nav ul li a{
	padding: 7px 22px;
	font-size: 16px;
	display: inline-block;
}
.aione_nav{
	height: 50px;
}
*/

/***************************************
Aione Slider
***************************************/

.owl-carousel .owl-stage-outer{
	width: 100%;
}
.aione-slider{
	background-color: #ffffff;

}

/***************************************
Aione Page Title
***************************************/
.aione-pagetitle{
	padding:20px 0;
	background-color: #f2f2f2;
}
.aione-pagetitle .title{
	margin: 0;
  color: #333333;
  font-size: 48px;
  line-height: 1.5;
  font-weight: 100;
	text-align: center;
}
.aione-pagetitle .description{
	margin: 0;
  color: #484848;
  font-size: 22.5px;
  line-height: 1.5;
  font-weight: 100;
	text-align: center;
}

/***************************************
Aione Footer
***************************************/

.aione-footer{
	background-color: #222222;
	margin: 0px;
}
.aione-footer.dark{
	background-color: #222222;
}
.aione-footer.light{
	background-color: #f5f5f5;
}
.aione-footer .ar{
	padding: 30px 0;
}


/***************************************
Aione Copyright
***************************************/

.aione-copyright{
	margin: 0;
	padding: 0;
	border-top: none;
	background-color: #121212;
}
.aione-copyright > .wrapper{
	padding:10px 0;
}
.aione-copyright,
.aione-copyright a{
	color:#a2a2a2;
	font-size: 17.6px;
	line-height: 1.4;
	font-weight: 400;
}
.aione-copyright a:hover{
	color:#ffffff;
}
.aione-copyright-left{
	float:left;
	text-align: left;
}
.aione-copyright-right{
	float:right;
	text-align: right;	
}
.aione-copyright-center{
	float:none;
	text-align: center;	
}
.aione-copyright .widget .widgettitle{
	display: none;
}
.aione-copyright .widget_nav_menu li{
	display: inline-block;
}
.aione-copyright .widget_nav_menu li:after{
	content:"/";
	padding:0 10px;
}
.aione-copyright .widget_nav_menu li:last-child:after{
	content:"";
	padding:0;
}
.aione-copyright .aione-copyright-left .textwidget p, 
.aione-copyright .aione-copyright-right .textwidget p{
}
.aione-copyright .aione-social-icons-widget > ul{
	margin-bottom: 0;
}

/***************************************
Aione Powered by
***************************************/
.aione-powered-by {
    margin: 0;
    padding: 0;
    border-top: none;
    text-align: center;
    color: #545454;
    font-size: 16px;
    line-height: 40px;
    font-weight: normal;
    background-color: #ffffff;
}
.aione-powered-by a{
    color: #545454;
    font-size: 16px;
    line-height: 40px;
    font-weight: normal;
}
.aione-powered-by a:hover{
    color: #545454;
}

/***************************************
Aione Sidebar
***************************************/
.aione-sidebar:before{
	display:none;
}
.aione-sidebar {
    width: 100%;
    float:none;
    position: relative;
    margin-bottom: 20px;
}
@media only screen and (min-width: 993px){
	.aione-sidebar {
	    width: 30%;
	    position: relative;
	    margin-bottom: 0;
	}
	.aione-wrapper.sidebar-left.sidebar-right .aione-sidebar{
	    width: 25%;
	}
} 
/***************************************
Aione Sidebar Left
***************************************/
@media only screen and (min-width: 993px){
	.aione-sidebar-left {
		float:left;
	}
	.aione-main.sidebar-left .aione-sidebar-left > .wrapper{
		margin-right: 30px;
	}
}
/***************************************
Aione Sidebar Right
***************************************/
@media only screen and (min-width: 993px){
	.aione-sidebar-right {
		float:right;
	}
	.aione-main.sidebar-right .aione-sidebar-right > .wrapper{
		margin-left: 30px;
	}
}

/***************************************
Aione Content
***************************************/
.aione-contenttop .widgettitle,
.aione-contentbottom .widgettitle{
	display: none
}
.aione-main .aione-page-content{ 
	width: 100%;
	float:none;
	box-sizing: border-box;
	margin-bottom: 20px;
}
@media only screen and (min-width: 993px){
	.aione-wrapper.sidebar-left .aione-main .aione-page-content,
	.aione-wrapper.sidebar-right .aione-main .aione-page-content{ 
		width: 70%;
		float:left;
		margin-bottom: 0;
	}

	.aione-wrapper.sidebar-left .aione-main .aione-page-content{
		padding-left: 30px;
	}
	.aione-wrapper.sidebar-right .aione-main .aione-page-content{ 
		padding-right: 30px;
	}
	.aione-wrapper.sidebar-left.sidebar-right .aione-main .aione-page-content{
		width: 50%; 
	}
}


.widget_search .search-field{
	width:100%;
}
.widget_categories{

}
.widget_categories .cat-item{

}
.widget_categories .cat-item a{
	
}
/***************************************
Aione Blog
***************************************/
.search-form .screen-reader-text{
	  display: none;
}
.search-form input[type=submit] {
	 display: none;
	}
 input[type=search] {
		font-size: 18px;
    line-height: 28px;
    font-weight: 400;
   
    min-height: 40px;
    padding: 0;
    margin: 0;
    text-indent: 15px;
    color: #747474;
    background-color: #faf8f7;
    border: 1px solid #e8e8e8;
    outline: 0;
    text-shadow: none;
    box-shadow: none;
    font-family: "Open Sans",Arial,Helvetica,sans-serif;
    box-sizing: border-box;
    transition: all .2s ease-in-out;
    border-radius: 0;
}
.aione-sidebar .widgettitle{
	  font-size: 16px;
    text-transform: uppercase;
    font-weight: 400;
    color: #333;
}
/***************************************
Aione Single
***************************************/
.featured-image {
	overflow:hidden; 
	margin: 0 0 20px 0;
}
.featured-image img{
	width:100%;
	height:auto;
}
.entry-header .entry-title {
    font-size: 30px;
    margin: 0 0 20px 0;
}
.entry-header .entry-meta{
    font-size: 18px;
    line-height: 20px;
    margin: 0 0 10px 0;
}
.entry-content{
	margin: 0 0 20px 0;
	font-size: 16px;
	font-weight: normal;
}
.entry-content p{
	font-size: 16px;
  line-height: 1.6;
  font-weight: normal;
  margin-bottom: 1em;
}
.entry-footer{
	margin: 0 0 10px 0;
	border: 1px solid #e8e8e8;
    padding: 10px;
}
.entry-footer::after{
	content: '';
	display: table;
	clear: both;
}
.entry-footer .edit-link{
	padding-left: 10px;
}
.navigation {
    border: 1px solid #e8e8e8;
    padding: 10px;
    margin: 0 0 20px 0;
}
.navigation::after{
	content: '';
	display: table;
	clear: both;
}
.navigation .screen-reader-text{
	display: none;
}
.navigation .nav-links .nav-next,
.navigation .nav-links .nav-previous{

}
.navigation .nav-links .nav-next{
	float: right;
}
.navigation .nav-links .nav-previous{
	float: left;
}
.navigation .nav-links .nav-next a,
.navigation .nav-links .nav-previous a{
	font-size: 18px;
    line-height: 30px;
    padding: 0;
    color: #ffffff;
    background: #168dc5;
    display: inline-block;
}
.navigation .nav-links .nav-next a{
	padding-left: 10px;
}
.navigation .nav-links .nav-previous a{
	padding-right: 10px;
}
.navigation .nav-links .nav-next a:hover,
.navigation .nav-links .nav-previous a:hover{
    background: #1570a6;
}
.navigation .nav-links .nav-next > a >i,
.navigation .nav-links .nav-previous > a > i{
	display: inline-block;
	padding: 0 10px;
}

.comment-respond .comment-reply-title{
	margin: 0;
    font-size: 20px;
}
.comment-respond  .comment-notes{
	font-size: 16px;
	line-height: 20px;
	margin: 0 0 10px 0;
}
.comment-respond label{
    font-size: 16px;
    line-height: 20px;
    min-width: 100px;
    margin: 0 0 10px 0;
    display: inline-block;
}
.comment-respond .comment-form-comment{
    margin: 0 0 10px 0;
}
.comment-respond .comment-form-comment textarea{
	height:110px;
	font-size: 16px;
	line-height: 20px;
	text-indent: 0px;
	padding: 4px 10px;
}
.comment-respond .comment-form-cookies-consent{
	display:none;
}
.comment-respond .submit{
	background-color: #168dc5;
    padding: 8px 20px;
}
/************************************
	List Blog Page
************************************/

.blog .post-navigation{
	display: none;
}


/************************************************
List Blog Design
************************************************/
.list-blog{
	padding-right: 20px;
	margin-bottom: 40px;
}
.list-blog .entry-header .entry-title{
	margin: 0 0 10px 0;
}
.list-blog .entry-header .entry-title a{
	color: #757575;
}
.list-blog .entry-header .entry-meta{
	color: #a9a9a9;
	font-size: 16px;
}
.list-blog .entry-content{
	font-size:16px;
	line-height: 1.3;
	margin: 0 0 10px 0;
}
.list-blog .entry-footer{
	padding: 0;
	border:none;
}
.list-blog .entry-footer .read-more-link{
    border: 1px solid #44b0ed;
    display: inline-block;
    padding: 10px 30px 10px 10px;
	position: relative;
}
.list-blog .read-more-link:after{
	right: 10px;
	content: "\f3d1";
	line-height: 17px;
	position: absolute;
	font-family:'Ionicons'; 
}

/************************************************
Common Widget Style in sidebars
************************************************/

.aione-sidebar .widget{

}
.aione-sidebar .widgettitle{
	color: #263238;
	font-size: 17px;
}
.aione-sidebar .widget ul > li{
    padding: 10px 0;
	border-bottom: 1px solid #e8e8e8;
}
.aione-sidebar .widget ul > li:last-child{
	border-bottom: none;
}
.aione-sidebar .widget ul > li > a{
	display: block;
}

/*********[   Categories Widget   ]***************/

.aione-sidebar .widget_categories ul > li{
	text-align: right;
}
.aione-sidebar .widget_categories ul > li:after{
	content: '';
	display: block;
	clear: left;
}
.aione-sidebar .widget_categories ul > li > a{
	float: left;
	color: #757575;
}

/*********[   Recent Post Widget   ]***************/

.aione-sidebar .widget_recent_entries ul > li > a{
	font-size: 16px;
	font-weight: 600;
	margin-bottom: 6px;
	color: #757575;
}
.aione-sidebar .widget_recent_entries ul > li > span{
	color: #999;
	font-size:13px;
}

/*********[   Social Icons Widget   ]***************/

.aione-sidebar .aione-social-icons-widget ul > li{
	padding: 0;
	border-bottom: none;
}

/*********[   Calender Widget   ]***************/

.aione-sidebar .calendar_wrap thead tr th,
.aione-sidebar .calendar_wrap caption,
.aione-sidebar .calendar_wrap tbody tr td{
	line-height: 40px;
    text-align: center;
}
.aione-sidebar .calendar_wrap thead{
	border-bottom:1px solid #e8e8e8;
}
.aione-sidebar .calendar_wrap table {
	margin: 0 auto;
    border: 1px solid #e8e8e8;
    width: 100%;
}
.aione-sidebar .calendar_wrap caption{
	width: auto;
}

/*********[   Meta and Archive Widget   ]***************/

.aione-sidebar .widget_meta  ul > li > a,
.aione-sidebar .widget_archive ul > li > a{
	color: #757575;
}

/*********[   Pages Widget   ]***************/

.aione-sidebar .widget_pages li > a{
	color: #757575;
}

/*********[   Gallery Widget   ]***************/

.aione-sidebar .gallery .gallery-icon.landscape > a{
	display: inline-block;
	padding: 0 10px 10px 0;
}
.aione-sidebar .gallery-item .gallery-icon.landscape img{
	width: -webkit-fill-available;
}

/*********[   Menu Widget   ]***************/
.aione-sidebar .widget_nav_menu .sub-menu{
	top: 0;
    z-index: 99;
    width: 300px;
	display: none;
	position: absolute;
    background-color: white;
    box-shadow: 1px 1px 4px 1px #e8e8e8;
}
.aione-sidebar.aione-sidebar-right .widget_nav_menu .sub-menu{
	right: 100%;
}
.aione-sidebar.aione-sidebar-left .widget_nav_menu .sub-menu{
	left: 100%;
}
.aione-sidebar .widget_nav_menu .sub-menu li,
.aione-sidebar .widget_nav_menu .sub-menu li > a{
	display: block;
}
.aione-sidebar .widget_nav_menu .sub-menu li > a{
	padding: 10px 5px; 
}
.aione-sidebar .widget_nav_menu .sub-menu li > a:hover{
	background-color: #e8e8e8;
}
.aione-sidebar .widget_nav_menu .menu-item:hover .sub-menu{
	display: block;
}
.aione-sidebar .widget_nav_menu ul > li{
	display:block;
	padding: 0;
	position: relative;
}
.aione-sidebar .widget_nav_menu ul > li > a{
	display:block;
	padding: 10px 0;
	font-size: 17px;
	color: #757575;
}


.aione-sidebar .aione_social_share_widget ul > li{
    padding: 0;
  border-bottom: none;
}

/************************************************
Common Widget Style in footer
************************************************/
.aione-footer .widget h3{
	text-align:left;
	color:#ffffff;
	font-size: 20px;
	border-bottom: 2px solid #b2b2b2;
	padding-bottom: 15px;
}
.aione-footer .widget_nav_menu ul li{
	line-height: 40px;
	border-bottom: 1px solid #353535;
	text-align: left;
}
.aione-footer .widget_nav_menu ul li a{
	color: #ffffff;
	display: block;
	font-size: 16px;
    
}
/*********[   Categories Widget   ]***************/
.aione-footer .widget_categories ul li{
	text-align: right;
}
.aione-footer .widget_categories ul li a{
	float: left;
}

/*********[   Text Widget   ]***************/

.aione-footer .textwidget{
	color: #fff;
    line-height: 25px;
    letter-spacing: 1.1px;
}
.aione-footer .textwidget p{
	text-align:justify;
}

/*********[   Recent Post Widget   ]***************/

.aione-footer .widget_recent_entries ul > li{
	padding: 10px 0;
}
.aione-footer .widget_recent_entries ul > li > a{
	font-size: 16px;
	font-weight: 600;
	line-height: 1.6;
	
}
.aione-footer .widget_recent_entries ul > li > span{
	color: #999;
	font-size:13px;
	display: block;
	line-height: 1.6;
	margin-top: 6px;
}

/*********[   Social Icons Widget   ]***************/

.aione-footer .widget.aione-social-icons-widget ul li{
	
}
.aione-footer .widget.aione-social-icons-widget ul li a{
	text-align: center;
}



/*********[   Gallery Widget   ]***************/

.aione-footer .gallery .gallery-icon.landscape > a{
	display: inline-block;
	padding: 0 10px 10px 0;
}
.aione-footer .gallery-item .gallery-icon.landscape img{
	width: -webkit-fill-available;
}

/*********[   Calender Widget   ]***************/
.aione-footer .calendar_wrap thead tr th,
.aione-footer .calendar_wrap caption,
.aione-footer .calendar_wrap tbody tr td{
	line-height: 40px;
    width: 40px;
    text-align: center;
    color: white
}
.aione-footer .calendar_wrap thead{
	border-bottom:1px solid #e8e8e8;
}
.aione-footer .calendar_wrap table {
	margin: 0 auto;
    border: 1px solid #e8e8e8;
}
.aione-footer .calendar_wrap caption{
	width: auto;
}

/*********[   Navigation Widget   ]***************/
.aione-footer .widget_nav_menu .sub-menu{
	background-color: rgba(232, 232, 232, 0.1);
	display: none;
}
.aione-footer .widget_nav_menu .menu-item:hover .sub-menu{
	display: block;
}
.aione-footer .widget_nav_menu .sub-menu li > a{
	padding: 5px 10px; 
}
.aione-footer .widget_nav_menu .sub-menu li > a:hover{
	background-color: #212121;
}

/************************************************
Common Widget Style in Topbar
************************************************/

/*********[   Navigation Widget   ]***************/
.aione-topbar .widget_nav_menu .sub-menu{
	display: none;
	position: absolute;
    width: 300px;
    background: white;
    z-index: 99;
    box-shadow: 1px 1px 4px 1px #e8e8e8;
}
.aione-topbar .widget_nav_menu .sub-menu li,
.aione-topbar .widget_nav_menu .sub-menu li > a{
	display: block;
}
.aione-topbar .widget_nav_menu .sub-menu li > a{
	padding: 5px 10px; 
}
.aione-topbar .widget_nav_menu .sub-menu li > a:hover{
	background-color: #e8e8e8;
}
.aione-topbar .widget_nav_menu .menu-item:hover .sub-menu{
	display: block;
}
.aione-topbar .widget_nav_menu li{
	display: inline-block;
}
.aione-topbar .widget_nav_menu li:after{
	content:"|";
	padding:0 10px;
}
.aione-topbar .widget_nav_menu .sub-menu li:after,
.aione-topbar .widget_nav_menu li:last-child:after{
	content:"";
	padding:0;
}

/*********[   Meta Widget   ]***************/
.aione-topbar .widget_meta ul > li{
	display: inline-block;
	padding: 0 10px;
}

/************************************************
Common Comment Style
************************************************/
.comments-area .comments-title{
	font-size: 18px;
}
.comments-area .comment-meta .comment-author{
	float: left;
	line-height: 40px;
}
.comments-area .comment-meta .comment-author img{
	height: 40px;
	width: 40px;
}
.comments-area .comment-meta .comment-author > *{
	line-height: 40px;
    display: inline-block;
    vertical-align: top;
}
.comments-area .comment-meta .comment-metadata{
	float: right;
}
.comments-area .comment-meta:after{
	content: '';
	display: block;
	clear: left;
}
.comments-area .comment-content p{
	margin-left: 40px;
	line-height: 1.5;
	margin-bottom: 20px;
}
.comments-area .reply{
	margin-bottom: 10px;
}
.comments-area .reply a{
	margin-left: 40px;
    border: 1px solid #168dc5;
    padding: 5px 10px;
    margin-bottom: 26px;
}
.comments-area .comment-list > li{
    border: 1px solid #e8e8e8;
    padding: 10px;
    margin-bottom: 10px;
}
/*********************************************
   HEADER LEFT, HEADER RIGHT and HEADER TOP
*********************************************/
.layout-header-left .header-wrapper,
.layout-header-right .header-wrapper{
	width: 100%;
	float: none;
	border-left: none;
	border-right: none;
}

@media only screen and (min-width: 901px){
	.layout-header-left .header-wrapper{
		width: 250px;
		float: left;
		border-right: 1px solid #e8e8e8;
	}
	.layout-header-right .header-wrapper{
		width: 250px;
		float: right;
		border-left: 1px solid #e8e8e8;
	}

}

.layout-header-left .aione-header,
.layout-header-right .aione-header{
	float: none;
	padding: 10px;
}
.layout-header-left .aione-topbar-left,
.layout-header-left .aione-topbar-right,
.layout-header-right .aione-topbar-left,
.layout-header-right .aione-topbar-right{
	width: 100%;
}
.layout-header-left .aione-topbar .widget_nav_menu li,
.layout-header-right .aione-topbar .widget_nav_menu li,
.layout-header-left .aione-topbar .widget_meta ul > li,
.layout-header-right .aione-topbar .widget_meta ul > li{
	display: block;
	text-align: left;
}
.layout-header-left .aione-topbar .widget_nav_menu li:after,
.layout-header-right .aione-topbar .widget_nav_menu li:after{
	content: '';
}
.layout-header-left .aione-topbar > .wrapper,
.layout-header-right .aione-topbar > .wrapper{
	max-height: initial;
}
.layout-header-left .aione-topbar  .widget,
.layout-header-right .aione-topbar  .widget{
	float: none;
	display: block;
	text-align: center;
}
.layout-header-left .aione-nav ul li,
.layout-header-right .aione-nav ul li{
 	display: block;
}
.layout-header-left .aione-nav ul li a,
.layout-header-right .aione-nav ul li a{
	display: block;
}
/************Review again*/
.layout-header-left .aione-header-logo img,
.layout-header-right .aione-header-logo img{
	width: auto;
	height: auto;
}
.layout-header-left .aione-header-banner .textwidget p,
.layout-header-right .aione-header-banner .textwidget p{
	text-align: center;
}
.layout-header-left .aione-menu .sub-menu,
.layout-header-right .aione-menu .sub-menu{
	position: initial;
}
.layout-header-left .aione-header > .wrapper > div,
.layout-header-right .aione-header > .wrapper > div{
	margin-bottom: 10px;
}
.content-wrapper .aione-main,
.content-wrapper .aione-pagetop {
	padding: 15px;
}
.layout-header-left .content-wrapper,
.layout-header-right .content-wrapper{
	width: 100%;
	float: none;
}

@media only screen and (min-width: 901px){
	.layout-header-left .content-wrapper,
	.layout-header-right .content-wrapper{
		width: calc( 100% - 251px );
		float: left;
	}
}
.layout-header-left .header-wrapper:after,
.layout-header-right .header-wrapper:after{
	content: "";
    clear: both;
    display: table;
}

/*********************************************
PAGINATION
*********************************************/
.pagination{
  margin-bottom: 12px;
}
.pagination li.active a, 
.pagination li.active span{
  color:#ffffff;
}
.pagination li{
  display: inline-block;
  margin: 0 4px 8px 4px;
}
.pagination li.double{
  width: 80px;
}


/*********************************************
Blog PAGINATION
*********************************************/

.pagination {
	text-align: center;
}
.pagination > a,
.pagination > span{
	background: #454545;
    color: #ffffff;
    margin: 0 10px 10px 0;
    text-align: center;
    min-width: 40px;
    display: inline-block;
    font-size: 16px;
    line-height: 40px;
	padding:0 15px;
	transition: all 180ms ease-in-out;
}
.pagination > a:hover,
.pagination > span:hover{
	background: #333333;
}
.pagination > .current {
    background: #168dc5;
}
.pagination > .current:hover {
    background: #1570a6;
}
.pagination > .pagination-prev,
.pagination > .pagination-next{
	padding:0 15px;
	position: relative;
}
.pagination > .pagination-prev > .page-prev,
.pagination > .pagination-next > .page-next{
    display: inline-block;
    width: 16px;
}
.pagination > .pagination-prev > .page-prev:before{
	content: "";
    position: absolute;
    border-top: 1px solid #FFFFFF;
    border-left: 1px solid #FFFFFF;
    transform: rotate(-45deg);
    top: 50%;
    left: 17px;
    width: 12px;
    height: 12px;
    margin: -6px 0 0 0;
}
.pagination > .pagination-next > .page-next:before{
	content: "";
    position: absolute;
    border-top: 1px solid #FFFFFF;
    border-right: 1px solid #FFFFFF;
    transform: rotate(45deg);
    top: 50%;
    right: 17px;
    width: 12px;
    height: 12px;
    margin: -6px 0 0 0;
}


/***********************************
Gravityform
***********************************/
.gfield{
    display:block;
}

.gfield .gfield_label{
    color: #747474;
    text-align: left;.
    display: block;
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
    padding: 0;
    margin: 0 0 5px 0;
    word-wrap: break-word;
    font-family: "Open Sans",Arial,Helvetica,sans-serif;
}
.gform_wrapper:after{
    content:"";
    display:table;
    clear:both;
}
.gform_wrapper .validation_error,
.gform_wrapper .validation_message{
    color:#f44336;
}
.gform_wrapper .validation_error{
    margin-bottom: 20px;
}
.gform_wrapper .validation_message{
    padding-top: 10px; 
} 



/***********************************
Login Form
***********************************/
/*
#loginform{
	min-width: 300px;
    width: 98%;
    max-width: 500px;
    padding: 30px;
    box-sizing: border-box;
    background-color: #ffffff;
    margin: 30px auto;
    box-shadow: 3px 3px 30px rgba(0,0,0,0.15);
}
**/
/***********************************
User Links
***********************************/
.aione-topbar .user-links{
    display:inline-block;
}

.aione-topbar .user-links a{
    color: #368dc4;
    background-color: #ffffff;
    border-radius: 100px;
    padding: 4px 20px;
}

.aione-topbar  .user-welcome{ 
    margin-right: 10px;
    color: #fff; 
}


/***********************************
Form
***********************************/

input[type=date],
input[type=email],
input[type=number],
input[type=password],
input[type=number],
input[type=tel],
input[type=text],
input[type=time],
input[type=url],
select,
select[multiple=multiple],
select,
textarea {
  font-size: 18px;
  line-height: 28px;
  font-weight: 400;
  width: 100%;
  min-height: 40px;
  padding: 0;
  margin: 0;
  text-indent: 15px;
  color: #747474;
  background-color: #faf8f7;
  border: 1px solid #e8e8e8;
  outline: 0;
  text-shadow: none;
  box-shadow: none;
  font-family: "Open Sans",Arial,Helvetica,sans-serif;
  box-sizing: border-box;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  -moz-transition: all .2s ease-in-out;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out
}
input[type=date]:focus,
input[type=email]:focus,
input[type=number]:focus,
input[type=password]:focus,
input[type=tel]:focus,
input[type=text]:focus,
input[type=time]:focus,
input[type=url]:focus,
select:focus,
select[multiple=multiple],
select:focus,
textarea:focus {
  background-color: #f5f3f2;
  border: 1px solid #c4c4c4
}
input[type=checkbox],
input[type=radio] {
  display: inline-block;
  margin: 0;
  padding: 0!important;
  outline: 0;
  width: 24px;
  min-width: 24px;
  height: 24px;
  line-height: 0;
  color: #555;
  background-color: #fff;
  border: 1px solid #b4b9be;
  clear: none;
  cursor: pointer;
  text-align: center;
  vertical-align: middle;
  -webkit-appearance: none;
  -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
  box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
  -moz-transition: all .2s ease-in-out;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out
}
input[type=radio]{
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%
}
input[type=radio]:checked{
  background-color: #0073aa;
  border: 1px solid #0073aa
}
input[type=radio]:before {
  content: "";
  width: 4px;
  height: 4px;
  margin: 10px;
  opacity: 0;
  display: block;
  background-color: rgba(255,255,255,.8);
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -moz-transition: all .2s ease-in-out;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out
}
input[type=radio]:checked:before{
  opacity: 1;
  width: 8px;
  height: 8px;
  margin: 7px;
  display: block
}
input[type=checkbox]:checked {
  background-color: #0073aa;
  border: 1px solid #0073aa
}
input[type=checkbox]:before {
  content: "";
  opacity: 0;
  width: 8px;
  height: 14px;
  margin: 2px 0 0 7px;
  display: block;
  border-bottom: 2px solid #fff;
  border-right: 2px solid #fff;
  -moz-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  -moz-transition: all .2s ease-in-out;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out
}
input[type=checkbox]:checked:before{
  opacity: 1
}
input[type=button],
input[type=reset],
input[type=submit] {
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  margin: 0 0 5px 0;
  font-family: "Open Sans",Arial,Helvetica,sans-serif;
  border: none;
  color: #fff;
  background-color: #454545;
  padding: 12px 30px 13px 30px;
  cursor: pointer;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -moz-transition: all .2s ease-in-out;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out
}
input[type=button]:hover,
input[type=reset]:hover,
input[type=submit]:hover {
  color: #fff;
  background-color: #121212;
  border: none
}

label {
  display: block;
  margin: 0;
  padding: 10px 0 10px 0;
}
label:blank,
label:empty {
  padding: 0
}


.wp-caption-text {
    font-size: 24px;
    font-weight: 400;
    line-height: 1.5;
    padding: 6px 0;
}



/***********************************
Aione List
***********************************/

.aione-list{
    margin-bottom: 20px;
    font-size: 17.6px;
    line-height: 30px;
}
.aione-list > li{
}
.aione-list > li a{

}
.aione-list > li .aione-icon{
    margin-right:10px;
    font-size:24px;
    line-height:24px;
    margin-top:4px;
    display:inline-block;
}
.aione-list.small{
    margin-bottom: 20px;
    font-size: 16px;
    line-height: 22px;
}
.aione-list.small > li .aione-icon{
    margin-right:6px;
    font-size:18px;
    line-height:20px;
    margin-top:0px;
}
.aione-list.medium{
    margin-bottom: 20px;
    font-size: 20px;
    line-height: 30px;
}
.aione-list.medium > li .aione-icon{
    margin-right:6px;
    font-size:24px;
    line-height:30px;
}
.aione-list.large{
    margin-bottom: 20px;
    font-size: 30px;
    line-height: 40px;
}
.aione-list.large > li .aione-icon{
    margin-right:15px;
    font-size:30px;
    line-height:30px;
}
.aione-list.theme-solid > li{
    border-bottom:1px solid #e8e8e8;
}
.aione-list.theme-dotted > li{
    border-bottom:1px dotted #e8e8e8;
}


/***********************************
Aione App Builder View Profile
***********************************/
.account-content-title-heading-center{
	text-align:center;
	border-bottom: 1px solid #e8e8e8;
	padding:15px;
	}
.user-detail-label{
	float: left;
	width:50%;
	box-sizing: border-box;
	display:block;
	font-weight:600;
	color:#233638;
}
.user-detail-value{
	float: left;
	width:50%;
	box-sizing: border-box;
	display:block;
}
.aione-list.theme-solid > li{
	padding:15px;
}


/***********************************
Aione More
***********************************/
.aione-more .aione-more-content{ display:none;}
.aione-more.active .aione-more-content{ display:inline;}
.aione-more .aione-more-toggle{ 
    color:#168dc5;
    cursor:pointer;
    padding-left:5px;
}