@font-face {
	font-family: "Flaticon";
	src: url("flaticon.eot");
	src: url("flaticon.eot#iefix") format("embedded-opentype"),
	url("flaticon.woff") format("woff"),
	url("flaticon.ttf") format("truetype"),
	url("flaticon.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}
[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
	font-family: Flaticon;
        font-size: 20px;
font-style: normal;
margin-left: 0px;
}.flaticon-bricks2:before {
	content: "\e000";
}
.flaticon-center8:before {
	content: "\e001";
}
.flaticon-center9:before {
	content: "\e002";
}
.flaticon-column2:before {
	content: "\e003";
}
.flaticon-column3:before {
	content: "\e004";
}
.flaticon-double58:before {
	content: "\e005";
}
.flaticon-four58:before {
	content: "\e006";
}
.flaticon-four59:before {
	content: "\e007";
}
.flaticon-four60:before {
	content: "\e008";
}
.flaticon-full31:before {
	content: "\e009";
}
.flaticon-gallery2:before {
	content: "\e00a";
}
.flaticon-gallery3:before {
	content: "\e00b";
}
.flaticon-gallery4:before {
	content: "\e00c";
}
.flaticon-header:before {
	content: "\e00d";
}
.flaticon-horizontal20:before {
	content: "\e00e";
}
.flaticon-layout19:before {
	content: "\e00f";
}
.flaticon-layout20:before {
	content: "\e010";
}
.flaticon-layout21:before {
	content: "\e011";
}
.flaticon-layout22:before {
	content: "\e012";
}
.flaticon-layout23:before {
	content: "\e013";
}
.flaticon-layout24:before {
	content: "\e014";
}
.flaticon-layout25::before {
	content: "\e015";
}
.flaticon-layout26:before {
	content: "\e016";
}
.flaticon-layout27:before {
	content: "\e017";
}
.flaticon-layout28:before {
	content: "\e018";
}
.flaticon-layout29:before {
	content: "\e019";
}
.flaticon-layout30:before {
	content: "\e01a";
}
.flaticon-layout31:before {
	content: "\e01b";
}
.flaticon-layout32:before {
	content: "\e01c";
}
.flaticon-layout33:before {
	content: "\e01d";
}
.flaticon-left66:before {
	content: "\e01e";
}
.flaticon-left67:before {
	content: "\e01f";
}
.flaticon-list49:before {
	content: "\e020";
}
.flaticon-right73:before {
	content: "\e021";
}
.flaticon-right75:before {
	content: "\e022";
}
.flaticon-right76:before {
	content: "\e023";
}
.flaticon-six15:before {
	content: "\e024";
}
.flaticon-square104:before {
	content: "\e025";
}
.flaticon-square105:before {
	content: "\e026";
}
.flaticon-squares6:before {
	content: "\e027";
}
.flaticon-squares8:before {
	content: "\e028";
}
.flaticon-three101:before {
	content: "\e029";
}
.flaticon-three102:before {
	content: "\e02a";
}
.flaticon-three103:before {
	content: "\e02b";
}
.flaticon-two171:before {
	content: "\e02c";
}
.flaticon-two172:before {
	content: "\e02d";
}
.flaticon-two176:before {
	content: "\e02e";
}
.flaticon-two178:before {
	content: "\e02f";
}
.flaticon-vertical8:before {
	content: "\e030";
}
.flaticon-whiteboard:before {
	content: "\e031";
}
